.container-card {
  width: 100%;
  height: 94vh;
  padding: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/movie-background.jpg") no-repeat center center/cover;
}

.login-container.disabled {
  pointer-events: none; /* Disable pointer events on the login container */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.header-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: rgb(187, 94, 94);
  font-weight: 600;
}
.header-tabs h1{
  font-family: "Srisakdi", cursive;
  font-weight: bolder;
  font-size: 2.4em;
  color: var(--text-color-white);
}

.bg-red {
  background: var(--primary-color)
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 7vw;

}

.error-message {
  color: var(--primary-color);
  font-size: 0.8em;
  margin-top: 1px;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  background-color: rgba(8, 8, 8, 0.7);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(159, 42, 42, 0.9);

}

.form input[type="text"],
.form input[type="number"],
.form input[type="password"] {
  font-family: 'Roboto', sans-serif;
  outline: none;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #e1e1e1;
  border-radius: 10px;
  border-color: rgb(253, 254, 255);
  background-color: rgba(9, 9, 9, 0.7);
}

.form button {
  text-transform: uppercase;
  outline: none;
  background-color: #f32121;
  width: 80%;
  border: 0;
  padding: 13px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background-color: #d23819;
}

.form h2 {
  color: #ffffff;
  font-size: 28px;
  margin: 0 0 30px;
}

.form p.message {
  color: #e1e1e1;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
}

.form p.message span {
  color: #ffffff;
  text-decoration: none;
}

.form p.message span:hover {
  text-decoration: underline;
}

.section1,
.section2 {
  display: flex;
  color: #fff;
  background-color: #000000;
  height: 500px;
  align-items: center; /* Vertically center content */
}

.text {
  flex: 1; /* Take up remaining space */
  padding: 30px;
}

.text h2 {
  margin-left: 90px;
  font-size: 34px; /* Adjust the font size as needed */
}

.text p {
  margin-right: 30px;
  margin-left: 90px;
  font-size: 18px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.section1 .image2 {
  position: absolute;
  top: 60px;
  left: 20%;
  height: 62%;
  border: 1px solid #000000;
}

.section2 .image2 {
  position: absolute;
  top: 40%;
  left: 15%;
  height: 10%;
}

@media (max-width:800px) {
  .login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 8vw;
}

.parent {
  position: relative;
  top: 0;
  left: -8vw;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  height: 25vw;
}
.section1  .image2{
  position: absolute;
  top: 34px;
  left: 17%;
  height: 67%;
  border: 1px solid #000000;
}

}